/* Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Html, Body */
body {
  height: 100vh;
  //   border: 1px solid red;
  // padding: 150px;
  // padding-top: 50px;
  // padding-bottom: 50px;
  // margin: 30% auto;

  // padding-top: calc(200 / (300 / 100) * 1%);
  display: grid;
  grid-template-rows: auto 0px;
  //   display: flex;
  //   flex-direction: column;
  background-color: rgba(13, 12, 14, 0.95);
}
